[submodule "filters"]
	path = filters
	url = https://github.com/Bevara/filters.git
[submodule "test-player"]
	path = test-player
	url = https://github.com/Bevara/test-player.git
[submodule "solver"]
	path = solver
	url = https://github.com/Bevara/solver.git
[submodule "solver_with_sdl"]
	path = solver_with_sdl
	url = https://github.com/Bevara/solver_with_sdl.git
[submodule "solver_minimal"]
	path = solver_minimal
	url = https://github.com/Bevara/solver_minimal.git
[submodule "solver_with_webcodecs"]
	path = solver_with_webcodecs
	url = https://github.com/Bevara/solver_with_webcodecs.git
