[submodule "third_parties"]
	path = third_parties
	url = https://github.com/Bevara/third_parties.git
[submodule "filters"]
	path = filters
	url = https://github.com/Bevara/filters.git
[submodule "test-player"]
	path = test-player
	url = https://github.com/Bevara/test-player.git
