<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body >
        <img is='universal-img' using='core-img.wasm'  src="http://bevara.ddns.net/test-signals/CCITT_1.TIF" with="a52dec.wasm;fileout.wasm;rfac3.wasm;aout.wasm;httpin.wasm;rfadts.wasm;rfamr.wasm;j2kdec.wasm;rfflac.wasm;m2psdmx.wasm;rfimg.wasm;maddec.wasm;rfmp3.wasm;mp4dmx.wasm;rfmpgvid.wasm;ffdec.wasm;mp4mx.wasm;rfnalu.wasm;ffdmx.wasm;nanojpeg.wasm;sdl_out.wasm;ffenc.wasm;oggdmx.wasm;writegen.wasm;ffsws.wasm;openhevcdec.wasm;filein.wasm;pngenc.wasm" connections>
    </body>

</html>