<!DOCTYPE html>
<html>

<head>

</head>

<body>
	<div class="artplayer-app" style="width:600px;height: 600px;"></div>
	<script src="third_parties/ArtPlayer/artplayer.js"></script>
	<script src="third_parties/ArtPlayer/universal-canvas.js"></script>
	<script>
		var art = new Artplayer({
			container: '.artplayer-app',
			url: 'https://bevara.ddns.net/test-signals/mpeg1/medical_demo.ts',
			autoSize: true,
			fullscreen: true,
			fullscreenWeb: true,
			plugins: [
				UniversalCanvas({
					using: "solver_1.0",
					with: "m2psdmx_1.0;rfmpgvid_1.0;ffmpeg_1.0;mp4mx_1.0;rfnalu_1.0",
					scriptDirectory: "https://bevara.ddns.net/accessors/"
				}),
			],
		});
	</script>
</body>

</html>