<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Native JXL Load Benchmark</title>
</head>

<body>

  <!-- <canvas width=1920 height=1080 is="universal-canvas_1" data-url="https://bevara.ddns.net/test-signals/live360/NBA_score_table_2_hd.mp4" interactive vr using="solver_1" with="isobmff_1"  use-webcodec >
 </canvas> -->

 <!-- <canvas is="universal-canvas_1" data-url="https://bevara.ddns.net/test-signals/ogv/Big_Buck_Bunny_Trailer_400p.ogv" using="solver_1" with="ogg_1;vorbis_1;theora_1" noloop graph >
</canvas> -->

<!-- <canvas is="universal-canvas_1" data-url="https://bevara.ddns.net/test-signals/sintel/Sintel_Trailer.480p.DivX_Home_Theater.divx" using="solver_1"
     with="avidmx_1;libxvid_1;libmad_1"> </canvas> -->

<!-- <canvas is="universal-canvas_1" data-url="Sintel_Trailer.480p.DivX_Home_Theater.divx" using="solver_with_sdl_1" with="libxvid_1;libmad_1;avidmx_1" graph>
 </canvas> -->




 <!-- <canvas is="universal-canvas_1" data-url="./Garage_qp28.mp4" interactive vr using="solver_with_webcodecs_1" with="isobmff_1"  use-webcodec >
 </canvas> -->

 <!-- <canvas is="universal-canvas_1" data-url="Sintel_Trailer.480p.DivX_Home_Theater.divx" using="solver_with_webcodecs_1" with="ffmpeg-full_1;libxvid_1;libmad_1" vbench noloop graph report>
 </canvas> -->

 <!-- <video is="universal-video_1" src="trailer_1080p.ogg" using="solver_with_webcodecs_1" with="ogg_1;vorbis_1;theora_1;isobmff_1" use-webcodec noloop graph controls
  >
</video> -->

<!-- <video is="universal-video_1" src="https://bevara.ddns.net/test-signals/ogv/Big_Buck_Bunny_Trailer_400p.ogv" using="solver_1" with="ogg_1;vorbis_1;theora_1;isobmff_1;libx264_1" use-webcodec noloop graph controls
  >
</video> -->
<!-- <canvas is="universal-canvas_1" data-url="https://bevara.ddns.net/test-signals/ogv/Big_Buck_Bunny_Trailer_400p.ogv" using="solver_1"
        with="ogg_1;vorbis_1;theora_1"></canvas> -->
<!-- <video is="universal-video_1" src="Sintel_Trailer.1080p.DivX_Plus_HD.mkv" using="solver_with_webcodecs_1" with="isobmff_1" use-webcodec noloop graph controls
  >
</video> -->

<!-- <canvas is="universal-canvas_1" data-url="Big_Buck_Bunny_Trailer_400p.ogv" using="solver_with_webcodecs_1" with="ffmpeg-full_1" use-webcodec noloop graph controls
  >
</canvas> -->

<!-- <video is="universal-video_1" src="https://bevara.ddns.net/test-signals/xvid/extrait_xvid.avi" using="solver_1" with="avidmx_1;libxvid_1;libmad_1;isobmff_1;ffmpeg-x264_1" stats graph controls
  >
</video> -->

<!-- <video src="Sintel_Trailer.1080p.DivX_Plus_HD.mkv" controls
  >
</video> -->




<!-- <video is="universal-video_1" data-url="https://bevara.ddns.net/test-signals/ogv/Big_Buck_Bunny_Trailer_400p.ogv" using="solver_with_sdl_1" with="ogg_1;theora_1;libx264_1" noloop graph controls >
</video> -->
<!--
<video is="universal-video_1" src="https://bevara.ddns.net/test-signals/ogv/Big_Buck_Bunny_Trailer_400p.ogv" using="solver_1"
        with="ogg_1;vorbis_1;theora_1;isobmff_1;libx264_1" controls> </video> -->

        <!-- <video is="universal-video_1" src="https://bevara.ddns.net/test-signals/ogv/big_buck_bunny_1080p_stereo.ogg" using="solver_with_webcodecs_1"
       with="ogg_1;vorbis_1;theora_1;isobmff_1" progressive use-webcodec controls> -->



 <!-- <canvas is="universal-canvas_1" vr data-url="https://bevara.ddns.net/test-signals/live360/NBA_score_table_2_hd.mp4" use-webcodec using="solver_1" with="isobmff_1;libfaad_1" graph>
 </canvas> -->

 <!-- <canvas is="universal-canvas_1" use-webcodecs data-url="test1_h264_8k_25fps_30M_250frames.mp4" using="solver_with_webcodecs_1" with="isobmff_1" graph>
 </canvas> -->

 <!-- <canvas is="universal-canvas_1" vr data-url="TimesSquare.mp4" using="solver_with_sdl_1" with="isobmff_1;bifsdec_1;libjpeg_1" graph>
 </canvas> -->

   <!-- <video is="universal-video_1" src="tears_of_steel_1080p.mov" using="solver_with_webcodecs_1" with="ogg_1;vorbis_1;theora_1;isobmff_1;ffmpeg-x264_1" graph controls>
  </video> -->

<!-- <video is="universal-video_1" src="sintel_trailer2-1080p.ogv" using="solver_with_webcodecs_1" with="ogg_1;vorbis_1;theora_1;isobmff_1" use-webcodec graph stats controls >
</video> -->
<!--
<canvas is="universal-canvas_1" data-url="hevcds_720p30_2M.mp4" using="solver_with_sdl_1" with="isobmff_1;libde265_1;libfaad_1" noloop graph>
</canvas> -->

<!-- <canvas is="universal-canvas_1" data-url="https://bevara.ddns.net/test-signals/HEVC/TSU_640x360.mp4" using="solver_with_sdl_1" with="libde265_1;isobmff_1;libfaad_1" noloop graph>
</canvas> -->

<!-- <video is="universal-video_1" src="hevcds_720p30_2M_videoonly.mp4" using="solver_1" with="libde265_1;isobmff_1;ffmpeg-x264_1;libfaad_1" use-webcodec graph stats controls >
</video> -->

<!-- <audio is="universal-audio_1" using="solver_minimal_1" with="libmad_1" src="https://bevara.ddns.net/test-signals/Radioactive.mp3" graph controls> -->

<!-- <img is="universal-img_1" using="solver_minimal_1" with="libheif_1" src="https://bevara.ddns.net/test-signals/heif/example_flower_hevc.heif"> -->

<!-- <img is="universal-img_1" using="solver_minimal_1" with="libheif_1" src="https://bevara.ddns.net/test-signals/heif/example_flower_hevc.heif"> -->


<!-- <img is="universal-img_1" using="solver_minimal_1" with="libheif_1" src="https://bevara.ddns.net/test-signals/heif/example_flower_hevc.heif"> -->


<!-- <audio is="universal-audio_1"  using="solver_minimal_1" with="libmad_1" src="https://bevara.ddns.net/test-signals/Radioactive.mp3" controls></audio> -->

<!-- <audio is="universal-audio_1"  using="solver_1" with="libmidi_1" src="https://bevara.ddns.net/test-signals/midi/test.mid" controls></audio> -->

<!-- <img is="universal-img_1" using="solver_minimal_1" with="openjpeg_1" src="https://bevara.ddns.net/test-signals/j2k/Bretagne1.j2k" no-worker> -->

<!-- <img is="universal-img_1" using="solver_1" with="libbpg_1" src="https://bevara.ddns.net/test-signals/bpg/photo.bpg"> -->

<!-- <img is="universal-img_1" using="solver_minimal_1" with="libpoppler_1" src="https://bevara.ddns.net/test-signals/TEST.pdf"> -->

<!-- <img is="universal-img_1" using="solver_1" with="libqoi_1" src="https://bevara.ddns.net/test-signals/qoi/testcard.qoi"> -->


<!-- <img is="universal-img_1" using="solver_minimal_1" with="libheif_1" src="https://bevara.ddns.net/test-signals/heif/example_flower_hevc.heif"> -->


<!-- <img is="universal-img_1" using="solver_minimal_1" with="libjxl_1" src="https://bevara.ddns.net/test-signals/JXL/red-room.jxl"> -->

<!-- <img is="universal-img_1" using="solver_minimal_1" with="libraw_1" src="https://bevara.ddns.net/test-signals/raw-samples/ARW/RAW_SONY_A700.ARW"> -->
<!-- <video is="universal-video_1" src="https://bevara.ddns.net/test-signals/sintel/Sintel_Trailer.480p.DivX_Home_Theater.divx" using="solver_1" with="webmdmx_1;isobmff_1" use-webcodec controls> </video> -->


<button onclick="console.log(GPAC)">stop</button>
</body>



</html>
