<!DOCTYPE html>
<html>
<head>
	<title>JSMpeg Stream Client</title>
	<style type="text/css">

	</style>
	
</head>
<body>
	<script src="src/jsmpeg.js"></script>
	<script src="src/video-element.js"></script>
	<script src="src/player.js"></script>
	<script src="src/buffer.js"></script>
	<script src="src/ajax.js"></script>
	<script src="src/fetch.js"></script>
	<script src="src/ajax-progressive.js"></script>
	<script src="src/websocket.js"></script>
	<script src="src/ts.js"></script>
	<script src="src/decoder.js"></script>
	<script src="src/mpeg1.js"></script>
	<script src="src/mpeg1-wasm.js"></script>
	<script src="src/mp2.js"></script>
	<script src="src/mp2-wasm.js"></script>
	<script src="src/webgl.js"></script>
	<script src="src/mp2-wasm.js"></script>
	<script src="src/canvas2d.js"></script>
	<script src="src/webaudio.js"></script>
	<script src="src/wasm-module.js"></script>
	<div class="jsmpeg" data-url="http://bevara.ddns.net/test-signals/mpeg1/medical_demo.ts"></div>
</body>
</html>
