<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body >
        <img is="universal-img" src="https://bevara.ddns.net/test-signals/Freedom.jpg" using="solver" with="libjxl;liba52;inspect;nhmlw;restamp;rfmpgvid;tileagg;ufmhas;vtt2tx3g;j2kdec;nhntr;rewind;rfnalu;tilesplit;ufnalu;vttdec;avidmx;jpgenc;nhntw;rfpcm;tssplit;ufobu;bifsdec;cryptin;lsrdec;odfdec;rfprores;ttml2srt;ufttxt;writeqcp;bsagg;cryptout;m2psdmx;rfamr;rfqcp;ttml2vtt;ufvc1;writeuf;bsrw;dasher;flist;m2tsdmx;rfav1;rfrawvid;ttmldec;ufvtt;xviddec;bssplit;dashin;gsfdmx;m2tsmx;oggmx;rfflac;rfsrt;ttxtdec;unframer;btplay;libfaad;gsfmx;libopenhevc;rfh263;rftruehd;tx3g2srt;vcrop;cdcrypt;mp4dmx;pngenc;rfimg;safdmx;tx3g2ttml;vflip;cecrypt;hevcsplit;mp4mx;probe;rflatm;tx3g2vtt;vobsubdmx;ffmpeg;nanojpeg;rfmhas;svgplay;txtin;xiph;imgdec;nhmlr;libmad;uflatm" controls  connections>
    </body>

</html>