<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body >
        <img is="universal-img" src="https://bevara.ddns.net/test-signals/Freedom.jpg" using="solver_1" with="libjxl;liba52;inspect;nhmlw;restamp;rfmpgvid_1;ufmhas;vtt2tx3g;j2kdec_1;nhntr;rewind;rfnalu_1;ufnalu;vttdec;avidmx_1;jpgenc;nhntw;rfpcm;tssplit;ufobu;bifsdec;cryptin;lsrdec;odfdec;rfprores;ttml2srt;ufttxt;writeqcp;bsagg;cryptout;m2psdmx_1;rfamr_1;rfqcp;ttml2vtt;ufvc1;writeuf;bsrw;dasher;flist;m2tsdmx;rfav1;rfrawvid;ttmldec;ufvtt;xviddec_1;bssplit;dashin;gsfdmx;m2tsmx;oggmx;rfflac_1;rfsrt;ttxtdec;unframer;btplay;libfaad;gsfmx;libopenhevc;rfh263;rftruehd;tx3g2srt;vcrop;cdcrypt;mp4dmx;pngenc_1;rfimg_1;safdmx;tx3g2ttml;vflip;cecrypt;mp4mx_1;probe;rflatm;tx3g2vtt;vobsubdmx;ffmpeg_1;nanojpeg;rfmhas;svgplay;txtin;xiph;imgdec_1;nhmlr;libmad_1;uflatm" controls  connections>
    </body>

</html>