<!DOCTYPE html>
<html>

<head>
</head>

<body>

  <!--  Sample tags. Modify to point to your test file and your filter -->

  <!--  <img is="universal-img_1" src="https://bevara.com/demo/seastack_JPEGXL.jxl"
        using="solver_1" with="libjxl_1"> -->

  <!-- <audio is="universal-audio_1" src="https://bevara.com/demo/Motivation.ac3" using="solver_1" with="liba52_1" controls>
      </audio> -->

  <!-- <canvas is="universal-canvas_1" data-url="https://bevara.com/demo/medical_demo_short.mpg"
        using="solver_1" with="ffmpeg-mpeg1_1"> -->

</body>

</html>
