<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body >
        <video is="universal-video" src="http://bevara.ddns.net/test-signals/HEVC/BigBuckBunny_2000hevc.mp4" using="core-video.wasm" with="a52dec.wasm;fileout.wasm;rfac3.wasm;aout.wasm;httpin.wasm;rfadts.wasm;rfamr.wasm;j2kdec.wasm;rfflac.wasm;m2psdmx.wasm;rfimg.wasm;maddec.wasm;rfmp3.wasm;mp4dmx.wasm;rfmpgvid.wasm;mp4mx.wasm;rfnalu.wasm;nanojpeg.wasm;sdl_out.wasm;openhevcdec.wasm;ffenc.wasm;oggdmx.wasm;writegen.wasm;filein.wasm" controls  connections>
    </body>

</html>